*{
	margin:0;
	padding:0;
	font-family: 'Catamaran', sans-serif;
}
#inicio{
	background-color: $background1;
	h1{
	margin: 30vh 0 10vh auto;
	color: $font-color2;
	font-family: 'Anton', sans-serif;
	font-size: 6rem;
	}
	a {
		button{
			@include button;
			color: $font-color1;
		}
		p{
			color: $font-color2;
		}
	
	}
}
.navbar.navbar-default{
	background-color: $background3;
	color: $font-color2;
	button.navbar-toggle{
		float: left; 
		margin-left: 15px;
		border: none;
	}
}

#create{
	background-color: $background2;
	#create-form{
		.input-box{
			margin-top: 10vh;
		}
		p{
			color: $font-color1;
		}
		.input-group input{
			width: 190%;
		}
		button{
			margin-top:10vh;
			background-color: $background3;
			color: $font-color2;
			width: 60%;
		}
	}
}
